typer
matplotlib
networkx
numpy
ogb
pandas
psutil
pyarrow
pydantic==1.10.12
pytest
pyyaml
requests[security]
scikit-learn
scipy
tqdm
dask
wandb
optuna
s3fs
torchmetrics
einops
typer
featuretools
transformers
boto3
sqlalchemy
sqlalchemy_schemadisplay
openai
tiktoken
streamlit
cloudpathlib
gensim
devtools
duckdb
sqlglot
sql_formatter
torchtext
python-louvain
leidenalg
torchdata==0.5.1
codetiming
humanfriendly
sentence_transformers==3.3.0
transformers==4.44.2
nltk==3.9.1
optuna
numba
